<section class="section">
  <div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Other Entity</h5>
    <div class="card mb-0">
      <div class="card-body p-4">
        <a routerLink="an"><button type="button" class="btn btn-outline-primary m-1">Annee-Scolaire</button></a>
        <a routerLink="cl"><button type="button" class="btn btn-outline-primary m-1">Classe</button></a>
        <a routerLink="ma"><button type="button" class="btn btn-outline-primary m-1">Matiere</button></a>
        <a routerLink="co"><button type="button" class="btn btn-outline-primary m-1">Cours</button></a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>




</section>

