<section class="section">
  <div class="card-body">
    <h5 class="card-title fw-semibold mb-4">User List</h5>
    <div class="card mb-0">
      <div class="card-body p-4">
        <a routerLink="all"><button type="button" class="btn btn-outline-primary m-1">All</button></a>
        <a routerLink="en"><button type="button" class="btn btn-outline-primary m-1">Enseigants</button></a>
        <a routerLink="et"><button type="button" class="btn btn-outline-primary m-1">Etudiant</button></a>

      </div>
    </div>
  </div>
  <router-outlet></router-outlet>




</section>
